asgiref==3.11.1
cffi==2.0.0
cryptography==49.0.0
Django==6.0.6
django-cors-headers==4.9.0
djangorestframework==3.17.1
google-auth==2.55.1
google-auth-httplib2==0.4.0
httplib2==0.32.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
pyparsing==3.3.2
python-dotenv==1.2.2
sqlparse==0.5.5
